.login-container {
    width: 500px; 
    margin: 0 auto;
    padding: 40px; 
    color: #ecf0f1; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    height:700px
}

.login-form label {
    margin-bottom: 10px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #2980b9; 
    color: #ecf0f1; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #1f618d;
}