.signup-form-container {
  max-width: 500px; 
  margin: 0 auto;
  padding: 40px; 
  color: #212f33; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form-container h2 {
  margin-bottom: 20px;
}

.signup-form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form-container button {
  width: 100%;
  padding: 10px;
  background-color: #2980b9;
  color: #ecf0f1; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form-container button:hover {
  background-color: #1f618d; 
}